<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form (ngSubmit)="requestToken()" class="text-center">
                <h1>Login</h1>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="icon-user">
                                Username
                            </i>
                        </span>
                    </div>
                    <input class="form-control" type="text" placeholder="Enter Username" [(ngModel)]="user.username" name="username" required>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">
                            <i class="icon-lock">
                                Password
                            </i>
                        </span>
                    </div>
                    <input class="form-control" type="password" placeholder="Enter Password" [(ngModel)]="user.password" name="password" required>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <button class="btn btn-link form-control" type="button" (click)="register()">Register</button>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-primary form-control" type="submit">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>