<section style="background: #ffffff; ;">
  <nav class="navbar navbar-expand-sm circle ">
    <a class="navbar-brand" style="color: white ; ">| web-port : {{port}}|</a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/dashboard']"> DashBoard
            <span class="sr-only">
              (current)
            </span>
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/add']"> Add New Product
            <span class="sr-only">
              (current)
            </span>
          </a>
        </li>
      </ul>
    </div>

    <div input type="image" (click)="logout()" src="../assets/images/btn_logout.png">
    </div>

  </nav>

  <div>
    <router-outlet></router-outlet>
  </div>
</section>

<!-- 
  fill
  stroke
  circle
  shift 
  -->